<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>test</title>
    <link rel="stylesheet" href="../libs/layui/css/layui.css">
</head>
<body>

<div class="mb_l" style="background: rgba(242, 242, 242, 0.458823529411765)">
    <div class="container">
        <h2>示例</h2>
        <input type="text" id="content0" name="example1" placeholder="请输入" />
        <div class="content" id="content1"></div>
        <button id="render">重新Render</button>
    </div>
</div>

<script src="../libs/layui/layui.js"></script>
<script src="../js/basic/test.js"></script>
</body>
</html>